@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: rgb(48, 153, 172);
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
}
.note .tools{
    background-color: yellowgreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;

}
.note .main{
    background-color: #eee;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.note textarea{
    border: none;
    height: 400px;
    width: 100%;
    font-family: inherit;
    outline: none;
    font-size: 1.2rem;
    
}
.note .hidden{
    display: none;
}
.add{
    background-color: rgb(114, 114, 28);
    border: none;
    border-radius: 3px;
    color: white;
    padding:  0.5rem 1rem;
    margin: 2rem auto;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}